body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1e1e1e 30%, #2c2c2c);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.upload-container {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 30px;
  background-color: #333;
  transition: background-color 0.3s ease;
  margin-top: 80px; /* Gap from Navbar */
  margin-bottom: 80px; /* Gap from Footer */
  overflow-y: auto; /* Enable vertical scrolling */
}

.upload-container.dragging {
  background-color: #444;
  border-color: #00cc88;
}

.upload-box {
  padding: 50px;
  background-color: #222;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
}

.upload-button {
  background-color: #00cc88;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.upload-button:hover {
  background-color: #0077ff;
}

.upload-instructions {
  color: #ddd;
  font-size: 14px;
  margin-top: 20px;
}

.upload-instructions a {
  color: #00cc88;
}

.video-preview {
  margin-top: 40px;
  padding: 10px;
  background-color: #111;
  border-radius: 12px;
  border: 1px solid #444;
}

footer {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .upload-container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    max-width: 90%; /* Reduce the max-width for smaller screens */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .upload-button {
    padding: 12px 24px;
    font-size: 16px;
  }
}




